:root {
  /* background-image: linear-gradient(to bottom, #000000, #021B3D, #022A66, #053576, #04419C, #0672F8);
  background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Cinzel', serif;
  --placeholder-font: 'Montserrat', sans-serif;
}

.login-signup-wrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border: 25px solid #004AAD;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

.logo {
  display: block;
  margin: 0 auto 1rem auto;
  width: 75px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

input, button {
  font-size: 13px;
  padding: 0.75rem;
  border-radius: 14px;
  border: 1px solid #ffffff;
  background-color: #EFF2F8;
  font-family: var(--placeholder-font);
  font-weight: bold;
  letter-spacing: 1px;
}

input::placeholder {
  font-size: inherit;
  font-weight: bold;
  line-height: 50px;
  color: #A9A9A9;
  padding-left: 10%;
}

button {
  font-family: inherit;
  background-image: radial-gradient(#02265B, #030611);;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #003080;
}

h3, a {
  font-family: var(--placeholder-font);
  font-weight: 750;
  letter-spacing: 1px;
  font-size: 13px;
  text-decoration: none;
}

a {
  cursor: pointer;
}

.name-inputs {
  display: flex;
  gap: 0.2rem;
}

.form-ext-container {
  margin: 20px 0 0 0;
}

.form-ext {
  margin: 0 0 0 0;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.nav-bar {
  background-image: linear-gradient(125deg, #022963, transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;
  padding: 1%;
  width: 100%;
}

.nav-btn-group {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-button {
    font-family: 'Cinzel', serif;
    width: clamp(80px, 15vw, 200px);
    height: 8vh;
    background-image: none;
    background-color: #004AAD;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    margin: 0 0 0 0;
    cursor: pointer;
    display: flex;
    font-size: clamp(10px, 2vw, 16px);
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
}

.nav-button.active {
    background-color: #F8B31A;
}

/** Dashboard CSS **/
.dashboard-main {
  width: 100%;
  height: 82%;
}
.dashboard-container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Cinzel', serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/** Contents Container CSS **/
.contents-container, .home-container {
  /* width: 100%; */
  display: flex;
  font-family: 'Cinzel', serif;
  margin: 0 0 0 0;
  padding: 1% 2% 1% 2%;
}

.contents-container {
  background-color: #B89E68;
  height: 90vh;
}

.home-container {
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #B89E68;
}


/* NavBar CSS */
.nav-menu-bottom {
  display: none;
  height: 10%;
  width: 100%;
  top: 90vh;
  justify-content: center;
  align-items: center;
}

.nav-menu-top {
  display: flex;
  cursor: pointer;
  height: 10%;
}

.logo-and-profile-only {
  display: none;
}

/* Mobile View CSS */
@media screen and (max-width: 575.98px) and (min-width: 100px) {
  /* Nav Mobile-specific styles */
  .nav-menu-top {
    display: none;
  }
  .nav-menu-bottom{
    width: 100%;
    display: flex;
    top: 90vh;
    justify-content: center;
    align-items: center;
    z-index: inherit;
  }
  .nav-button {
    width: clamp(60px, 20vw, 150px);
    border-radius: 10px 10px 10px 10px;
    border-left: #000000 1px solid;
    height: clamp(6vh, 8vw, 10vh);
  }
  .nav-btn-group {
    display: flex;
    gap: 2px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .logo-and-profile-only {
            display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 70%;
        width: 100%;
        margin: 3% 0 1% 0;
  }

  /* HTML Forms */
  .name-inputs {
    flex-direction: column;
  }
}