/* Component NavBar Styles */
.nav-button {
    /* Size */
    font-size: 100%;
    padding: 10px 20px;
    /* Color Scheme */
    background-color: #004AAD;
    transition: background-color 0.3s ease;
    color: white;
    /* Other Styles */
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.nav-button:hover {
    background-color: #F8B31A;
}

.nav-button.active {
    background-color: #F8B31A;
    font-weight: bold;
}

.navBarContainerStyle {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav-bottom {
    display: none;
}
