/* Component NavBar Styles */
.nav-button {
    /* Size */
    padding: 10px 20px;
    width: 100%;
    /* Color Scheme */
    background-color: #004AAD;
    transition: background-color 0.3s ease;
    color: white;
    /* Other Styles */
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

button.nav-button {
    padding: 2%;
    width: 50%;
}

.nav-button:hover {
    background-color: #F8B31A;
}

.nav-button.active {
    background-color: #F8B31A;
    font-weight: bold;
}

.navBarContainerStyle {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.nav-bottom {
    display: none;
}

.rhbutt {
    display: block;
}

.navBarButtonsStyle {
    display: block;
}

@media (max-width: 768px) {
    button.nav-button {
        font-size: 7px; 
        padding: 1%;
        height: 40%;
    }
    .rhbutt {
        font-size: 3%;
    }
    .nav-bottom {
        display: flex;
    }
}