:root {
    background-image: linear-gradient(to bottom, #000000, #021B3D, #022A66, #053576, #04419C, #0672F8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Cinzel', serif;
    --placeholder-font: 'Montserrat', sans-serif;
    --primary-font: 'Cinzel', serif;
}